@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	var userAgent = Request.UserAgent;
	var browser = Request.Browser.Browser.ToLower();
	var browserMajVer = Request.Browser.MajorVersion;
	var browserDet = string.Empty;

	if (browser == "internetexplorer" || browser == "ie")
	{
		browserDet = "ie ie-" + browserMajVer;
	} else
	{
		if (userAgent.ToLower().Contains("edge/"))
		{
			browserDet = "edge";
		} else
		{
			browserDet = browser + " " + browser + "-" + browserMajVer;
		}
	}

}
<!DOCTYPE html>
<html>
<head>
    <title>Effera startpoint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="ua" content="@userAgent" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#0E754A">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#0E754A">
    <link href="~/Static/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Static/css/slick/slick.css" rel="stylesheet" />
    <link href="~/Static/css/main.css" rel="stylesheet" defer />
    <link href="~/Static/css/critical-css.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" defer>
    @Html.Partial("_PageOpenGraphTags")
</head>
    <body class="@browserDet" data-browser="@browser" data-browser-mver="@browserMajVer">
        <div class="page-outer">
            <header class="page-strip site-top">
                <div class="container page-top">
                    <div class="logo-area">
                        @Html.Partial("_LogoLinked")
                    </div>
                    <div class="navigation-main">
                        @Html.Partial("_MainNavigation")
                    </div>
                    <div class="navigation-service">
                        @Html.Partial("_ServiceNavigation")
                    </div>

                </div>
            </header>
            <main class="page-main-container">
                @RenderBody()
            </main>
            <footer class="page-strip footer-band">
                @Html.Partial("_FooterContent")
            </footer>
        </div>
        <script src="~/Static/js/vendor/bundle.js"></script>
        <script src="~/Static/js/bootstrap/bootstrap.js"></script>
        <script src="~/Static/js/main.js"></script>
    </body>
</html>
